<launch>
    <rosparam file="$(find gen3_moveit)/config/params.yaml" command="load"/>
    '<include file="$(find gen3_robotiq_2f_140_move_it_config)/launch/demo.launch" />
    <node name="server_endpoint" pkg="gen3_moveit" type="server_endpoint.py" args="--wait" output="screen" respawn="true" />
    <node name="pose_estimation" pkg="gen3_moveit" type="pose_estimation_script.py" args="--wait" output="screen"/>
    <node name="mover" pkg="gen3_moveit" type="mover.py" args="--wait" output="screen" respawn="true" respawn_delay="2.0"/>

    
</launch>